* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
  min-height: 100vh;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.card {
  background: #1e293b;
  border: 1px solid #334155;
  border-radius: 16px;
  padding: 32px;
  width: 100%;
  max-width: 400px;
}

.login-card h1 {
  margin-bottom: 8px;
}

.subtitle {
  color: #94a3b8;
  margin-bottom: 24px;
}

input {
  width: 100%;
  padding: 14px;
  margin-bottom: 16px;

  border: 1px solid #334155;
  border-radius: 10px;

  background: #0f172a;
  color: white;

  outline: none;
}

input:focus {
  border-color: #3b82f6;
}

button {
  width: 100%;
  padding: 14px;

  border: none;
  border-radius: 10px;

  background: #3b82f6;
  color: white;

  cursor: pointer;
  font-size: 16px;
  transition: 0.2s;
}

button:hover {
  opacity: 0.9;
}

.error {
  display: none;

  background: #7f1d1d;
  color: #fecaca;

  padding: 10px;
  border-radius: 8px;

  margin-bottom: 16px;
}